body{
    font-family: 'Times New Roman', Times, serif;
}

/*Estilização de imagem*/

.image-index{
  display: block;
  max-width: 500px;
  max-height: 450px;
  margin: 20px auto;
}

.index-cabecalho{
  text-align: center;
}

.index-texto{
  text-align: justify;
  padding: 5px;
}

.paginas-comp{
    text-align: center;
}

.outras-paginas{
    display: inline-block;
    padding: 5px;
}

/*Imagens funcional em outros dispositivos*/

@media screen and (max-width: 768px) {
  .image-index {
    max-width: 90%;
    max-height: 350px;
    margin: 15px auto;
  }
}

@media screen and (max-width: 320px) {
  .image-index {
    max-width: 90%;
    max-height: 350px;
    margin: 15px auto;
  }
}

.menu{
  display: block;
  max-width: 300px;
  max-height: 250px;
  margin: 20px auto;
}

.exemplos-texto{
  text-align: center;
  padding: 5px;
}