body{
    font-family: 'Times New Roman', Times, serif;
}

/*Definição de imagem*/

.image-sobre{
    display: block;
    max-width: 450px;
    max-height: 450px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

}

h1{
    text-align: center;
    
}

p{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}